* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rd-only {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}
P {
  color: #888;
}
input,
textarea {
  display: block;
  border: none;
  background-color: inherit;
  border: 1px solid #888;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: black;
}

:root {
  --white-color: #fff;
  --black-color: #1b1b1b;
  --black-light-color: #2a2b2b;
  --black-too-light-color: #777;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --aquablue-color: #81d4fa;
  --aquablue-light-color: #b6ffff;
  --aquablue-dark-color: #4ba3c7;

  /* Size */
  --normal-padding: 20px;
  --updown-padding: 100px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  --font-h1: 32px;
  --font-h2: 24px;
  --font-h3: 18.777px;

  /* font-weight */
  --font-weight-regular: 400;
  --font-weight-medium: 700;
  --font-weight-bold: 900;
}

body {
  color: var(--white-color);
  font-family: "Open Sans", sans-serif;
}

section:nth-child(odd) {
  background-color: var(--black-color);
}

section:nth-child(even) {
  background-color: var(--black-light-color);
}

/* utility */

.flex_mobile_12_12 {
  flex: 0 1 100%;
}
.flex_mobile_11_12 {
  flex: 0 1 91.66666667%;
}
.flex_mobile_10_12 {
  flex: 0 1 83.33333333%;
}
.flex_mobile_9_12 {
  flex: 0 1 75%;
}
.flex_mobile_8_12 {
  flex: 0 1 66.66666667%;
}
.flex_mobile_7_12 {
  flex: 0 1 58.33333333%;
}
.flex_mobile_6_12 {
  flex: 0 1 50%;
}
.flex_mobile_5_12 {
  flex: 0 1 41.66666667%;
}
.flex_mobile_4_12 {
  flex: 0 1 33.33333333%;
}
.flex_mobile_3_12 {
  flex: 0 1 25%;
}
.flex_mobile_2_12 {
  flex: 0 1 16.66666667%;
}
.flex_mobile_1_12 {
  flex: 0 1 8.33333333%;
}

.flex_mobile_3_10 {
  flex: 0 1 30%;
}

/* layout */

.l_wrapper {
  padding: var(--updown-padding) var(--normal-padding);
}

.l_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.l_row {
  width: 100%;
  margin-bottom: 20px;
}
.l_main {
  margin-bottom: 30px;
}
.l_header {
  margin-bottom: 10px;
}

/* commons */

.title {
  padding-left: 38px;
  position: relative;
  text-transform: uppercase;
}

.title::before {
  position: absolute;
  content: " ";
  left: 0;
  height: 2px;
  top: 10px;
  width: 30px;
  background: linear-gradient(
    to right,
    var(--aquablue-dark-color),
    var(--aquablue-color)
  );
}

.inform {
  font-size: var(--font-h3);
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.line_deco {
  position: relative;
  width: 100%;
}

.line_deco i {
  position: absolute;
  top: 10px;
  left: -60px;
  background: linear-gradient(
    to right,
    var(--aquablue-dark-color),
    var(--aquablue-color)
  );
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line_deco > div {
  position: relative;
  margin-left: 60px;
  margin-bottom: 30px;
}
.line_deco div::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(
    to right,
    var(--aquablue-dark-color),
    var(--aquablue-color)
  );
}

.line_deco::before {
  position: absolute;
  content: " ";
  top: 30px;
  left: 30px;
  height: 2px;
  width: 50px;
  background: linear-gradient(
    to right,
    var(--aquablue-dark-color),
    var(--aquablue-color)
  );
}

/* components */

/* components: menu */
.menu {
  position: relative;
  width: 100%;
  background-color: var(--black-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--normal-padding);
}
.menu .logo,
.fa-bars {
  color: var(--aquablue-dark-color);
}

.menu-bar {
  display: none;
}
/* components: introduce */
.introduce {
  /* 이미지 추가해야함 되도록 검은 이미지로써 글씨가 잘 보이게*/
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;
  position: relative;
}

.introduce-inform {
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  font-family: "Open Sans", sans-serif;
  padding: var(--normal-padding);
}

.introduce-inform h3 {
  font-size: var(--font-h3);
  font-weight: var(--font-weight-medium);
  color: var(black-too-light-color);
}

.introduce-name h1 {
  font-size: var(--font-h1);
  margin: 30px 0;
  font-weight: var(--font-weight-bold);
  letter-spacing: 2px;
  line-height: 1;
}
.introduce-career p {
  margin-bottom: 50px;
  padding-left: 38px;
  position: relative;
  font-size: var(--font-large);
  font-weight: var(--font-weight-regular);
  color: var(black-too-light-color);
}

.introduce-career p::before {
  content: " ";
  position: absolute;
  left: 0;
  height: 2px;
  top: 13px;
  width: 30px;
  background: linear-gradient(
    to right,
    var(--aquablue-dark-color),
    var(--aquablue-color)
  );
}

.introduce-button {
  width: 155px;
  font-size: var(--font-medium);
  font-weight: var(--font-weight-regular);
  border-radius: 24px;
  padding: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    var(--aquablue-dark-color),
    var(--aquablue-color)
  );
  color: var(--white-color);
}
/* components: personal */
.personal-box {
  display: flex;
  flex-direction: column;
}

.personal-img {
  position: relative;
  background-color: var(--black-light-color);
  margin-bottom: 30px;
  width: 100%;
  height: 400px;
}

.personal-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  top: 0;
  left: 0;
}

.personal-inform {
  flex: 0 1 50%;
}

.personal-skill {
  background-color: var(--black-light-color);
}

.personal-skill .personal-row {
  display: flex;
  flex-direction: column;
}

.personal-skill .personal-item {
  padding: 20px 0;
  border-bottom: 1px solid #2d2e2f;
}

.personal-skill .personal-item i {
  color: var(--aquablue-dark-color);
}
/* components: service */
.service .service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);
  height: 100%;
  padding: 50px;
}

.service .service-item i {
  color: var(--aquablue-dark-color);
  font-size: 40px;
  margin-bottom: 20px;
}
.service .service-item h3 {
  margin-bottom: 20px;
}
/* components: story */
.story-item {
  position: relative;
  background-color: var(--black-light-color);
  padding: 20px;
  text-align: left;
}

.story-item h3 {
  margin-bottom: 10px;
}

.story-item .story-school {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 13px;
}

.story-item .story-school .date {
  color: var(--aquablue-color);
}

.story-item::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(
    to right,
    var(--aquablue-dark-color),
    var(--aquablue-color)
  );
}
/* components: works */
.works-item {
  height: 100%;
}

.works-item img {
  width: 100%;
  height: 100%;
}

.blog-item {
  height: 100%;
}

.blog-item img {
  width: 100%;
  height: 100%;
}

/* components: contact */
.contact-article {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-inform {
  background-color: var(--black-color);
  margin-bottom: 20px;
}

.contact-inform .inform-list {
  padding: 15px;
}

.contact-inform input,
textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 40px;
}
.contact-inform textarea {
  height: 100px;
}

.contact-inform button {
  width: 155px;
  font-size: var(--font-medium);
  font-weight: var(--font-weight-regular);
  border-radius: 24px;
  letter-spacing: 1px;
  padding: 14px;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    var(--aquablue-dark-color),
    var(--aquablue-color)
  );
  color: var(--white-color);
}

.contact-aside {
  width: 100%;
}

.contact-aside .l_row {
  position: relative;
  width: 100%;
}

.contact-item {
  background-color: var(--black-color);
}

.contact-item dl {
  padding: 20px;
}
.contact-item dt {
  padding-bottom: 10px;
}
.contact-item dd {
  color: var(--black-too-light-color);
}

/* active menu toggle */
/* .menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black-dark-light-color);
  width: 280px;
  display: flex;
  flex-direction: column;
}

.menu-bar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.menu-bar .menu-col .menu-row {
  display: block;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #2d2e2f;
}
.menu-bar .menu-col .menu-row a {
  display: inline-block;
  padding: 15px 28px;
} 



*/

/* tablet */

@media screen and (min-width: 480px) and (max-width: 850px) {
  /* layout */
  .l_col_tablet_row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .l_col {
    margin-left: -10px;
  }

  .l_col_tablet_row li {
    padding: 0px 10px;
    width: 100%;
  }

  /* utility */
  .flex_tablet_12_12 {
    flex: 1 1 100%;
  }
  .flex_tablet_11_12 {
    flex: 1 1 91.66666667%;
  }
  .flex_tablet_10_12 {
    flex: 1 1 83.33333333%;
  }
  .flex_tablet_9_12 {
    flex: 1 1 75%;
  }
  .flex_tablet_8_12 {
    flex: 1 1 66.66666667%;
  }
  .flex_tablet_7_12 {
    flex: 1 1 58.33333333%;
  }
  .flex_tablet_6_12 {
    flex: 1 1 50%;
  }
  .flex_tablet_5_12 {
    flex: 1 1 41.66666667%;
  }
  .flex_tablet_4_12 {
    flex: 1 1 33.33333333%;
  }
  .flex_tablet_3_12 {
    flex: 1 1 25%;
  }
  .flex_tablet_2_12 {
    flex: 1 1 16.66666667%;
  }
  .flex_tablet_1_12 {
    flex: 1 1 8.33333333%;
  }
  .flex_tablet_3_10 {
    flex: 1 1 30%;
  }
  .flex-table_8_17 {
    flex: 1 1 47.06%;
  }

  /* component */

  .menu {
    padding: 0 10px;
  }
  .menu-toggle,
  .bar-logo {
    display: none;
  }
  .menu-bar {
    display: block;
  }

  .menu .menu-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu .menu-row {
    padding: var(--normal-padding);
  }
  .menu .menu-row a {
    text-transform: capitalize;
    font-family: "Oswald", sans-serif;
    font-weight: var(--font-weight-regular);
    padding: 5px;
  }
}

/* web */

@media screen and (min-width: 900px) {
  /* layout*/

  .l_wrapper {
    padding: 100px 200px;
  }

  .l_col {
    margin-left: -10px;
  }

  .l_col_web_row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .l_col_web_row li {
    padding: 0 10px;
    width: 100%;
  }

  /* utility */

  .flex_web_12_12 {
    flex: 1 1 100%;
  }
  .flex_web_11_12 {
    flex: 1 1 91.66666667%;
  }
  .flex_web_10_12 {
    flex: 1 1 83.33333333%;
  }
  .flex_web_9_12 {
    flex: 1 1 75%;
  }
  .flex_web_8_12 {
    flex: 1 1 66.66666667%;
  }
  .flex_web_7_12 {
    flex: 1 1 58.33333333%;
  }
  .flex_web_6_12 {
    flex: 1 1 50%;
  }
  .flex_web_5_12 {
    flex: 1 1 41.66666667%;
  }
  .flex_web_4_12 {
    flex: 1 1 33.33333333%;
  }
  .flex_web_3_12 {
    flex: 1 1 25%;
  }
  .flex_web_2_12 {
    flex: 1 1 16.66666667%;
  }
  .flex_web_1_12 {
    flex: 1 1 8.33333333%;
  }

  /* components */

  .menu {
    padding: 0 200px;
  }

  .menu-toggle,
  .bar-logo {
    display: none;
  }
  .menu-bar {
    display: block;
  }

  .menu .menu-col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu .menu-row {
    padding: var(--normal-padding);
  }
  .menu .menu-row a {
    text-transform: capitalize;
    font-family: "Oswald", sans-serif;
    font-weight: var(--font-weight-regular);
    padding: 5px;
  }

  .introduce-inform {
    padding: 0 200px;
  }

  .personal-box {
    flex-direction: row;
  }

  .personal-img {
    margin-bottom: 0;
    height: auto;
  }
  .personal-inform {
    padding: 0 0 0 30px;
  }
  .contact-aside {
    padding-left: 40px;
  }
}
